@import '../../../antTheme.less';

.container{
    flex: auto;
    display: grid;
    grid-template-columns: 1fr [side] 3fr [description];
    grid-template-rows: 7rem 1.5rem;
    cursor: pointer;
}

.content {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-top: 1em;
    min-width: 0;
    line-height: 1.1em;
    max-height: 5.4em;
    overflow: hidden;
}

.bottom {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    align-items: center;
}

.date {
    margin-left: auto;
    margin-right: 1rem;
}

.side {
    grid-row: 1 e("/") 3;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.side {
    .ant-avatar {
        flex: 0 0 auto;
    }
}
.username {
    margin-top: .2em;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    white-space: nowrap;
}

.node {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    white-space: nowrap;
}
.affects-me {
    padding-top:0.5em;
    color: #7cb305;
    font-size:0.8rem;
}
